.container {
	display: flex;
	text-align: left;
	align-items: center;
	gap: 1rem;
  width: 40rem;
	margin-left: auto;
	margin-right: auto;
	padding: 2rem 0;
}

.title {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0;
}

.image {
	border-radius: 999px;
}
